<%= form_with(model:@question,local:true) do |f| %>
  <% if @question.errors.any? %>
  <h2><%= @question.errors.count %>件のエラーがあります。</h2>
    <ul>
      <% @question.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
      <% end %>
    </ul>
  <% end %>

  <div>
    <%= f.label :title %>
    <%= f.text_field :title %>
  </div>

  <div>
    <%= f.label :details %>
    <%= f.text_area :details %>
  </div>
  <% if @question.id.present? %>
    <div>
      <%= f.label :status %>
      <%= f.select :status,Question.statuses.keys.map {|k| [Question.statuses_i18n[k],k]} %>
    </div>
  <% end %>

  <div>
    <% Label.all.each do |label| %>
      <label>
        <%= f.check_box :label_ids,{multiple: true,checked: label[:checked],disabled: label[:disabled],include_hidden: false},label[:id] %>
        <%= label[:genre] %>
      </label>
    <% end %>
  </div>

  <div>
    <%= f.submit %>
  </div>
<% end %>