<%= form_with(model:@question,local:true) do |f| %>
  <% if @question.errors.any? %>
  <h2><%= @question.errors.count %>件のエラーがあります。</h2>
    <ul>
      <% @question.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
      <% end %>
    </ul>
  <% end %>

  <div class="mx-auto" style="width: 600px;">
    <%= f.label :title %>
    <%= f.text_field :title,size:70,placeholder:"タイトルを入力してください",class:"title-field" %>
  </div>

  <div class="mx-auto" style="width: 700px;">
    <%= f.label :details %>
    <%= f.text_area :details,size:"80x20",placeholder:"質問内容を入力してください" %>
  </div>
  <% if @question.id.present? %>
    <div>
      <%= f.label :status %>
      <%= f.select :status,Question.statuses.keys.map {|k| [Question.statuses_i18n[k],k]} %>
    </div>
  <% end %>

  <div>
    <%= f.collection_check_boxes(:label_ids,Label.all,:id,:genre) do |c|%>
      <%= c.label { c.check_box + c.text } %>
    <% end %>
  </div>

  <div>
    <%= f.submit %>
  </div>
<% end %>