<h1>質問一覧</h1>

<%= sort_link(@q,:status,"状態",default_order: :asc) %>
<%= sort_link(@q,:created_at,"投稿日時",default_order: :desc) %>

<% @search_questions.each do |question| %>
  <div class="table-responsive">
    <table class="table table-hover">
      <tr>
        <td>
          <%= question.status_i18n %>
          <%= link_to question.title,question_path(question) %>
          <br>
          <% question.labels.each do |label| %>
              <%= label.genre %>
          <% end %>
        </td>
      </tr>
    </table>
  </div>
<% end %>
<div>
    <%= paginate @questions %>
</div>