<h1>質問一覧</h1>
<%= search_form_for @q do |f| %>
  <%= f.label :title_cont,"タイトル" %>
  <%= f.search_field :title_cont %>

  <%= f.label :status_eq,"状態" %>
  <%= f.select :status_eq,@statuses.map{ |k,v| [Question.statuses_i18n[k],v] },include_blank:"指定なし" %>

  <%= f.submit "検索" %>
<% end %>

<%= sort_link(@q,:status,"状態",default_order: :asc) %>
<%= sort_link(@q,:created_at,"投稿日時",default_order: :desc) %>

<% @questions.each do |question| %>
  <div>
    <%= link_to question.title,question_path(question) %>
    <span>
      <% question.labels.each do |label| %>
        <%= label.genre %>
      <% end %>
    </span>
  </div>
<% end %>
<div>
    <%= paginate @questions %>
</div>