<%= sort_link(@q,:status,"状態",default_order: :asc) %>
<%= sort_link(@q,:created_at,"投稿日時",default_order: :desc) %>


<div class="table-responsive">
  <table class="table table-hover">
    <% @search_questions.each do |question| %>
    <tr>
      <td>
        <%= question.status_i18n %>
        <%= link_to question.title,question_path(question) %>
        <br>
        <% question.labels.each do |label| %>
        <%= label.genre %>
        <% end %>
      </td>
    </tr>
    <% end %>
  </table>
</div>
<div>
  <%= paginate @questions %>
</div>