<%= sort_link(@q,:status,"状態でソート",default_order: :asc) %>
<%= sort_link(@q,:created_at,"投稿日時でソート",default_order: :desc) %>


<div class="table-responsive">
  <table class="table table-hover">
    <% @search_questions.each do |question| %>
    <tr>
      <td>
      <% if question.status_i18n == "未解決" %>
        <span class="unsolved"><%= question.status_i18n %></span>
      <% elsif question.status_i18n == "解決済" %>
        <span class="resolved"><%= question.status_i18n %></span>
      <% end %>
        <%= link_to question.title,question_path(question) %>
        <br>
        <% question.labels.each do |label| %>
        <span class="genre"><%= label.genre %></span>
        <% end %>
      </td>
    </tr>
    <% end %>
  </table>
</div>
<div>
  <%= paginate @questions %>
</div>