<div id="q-show">
  <div>
    <% @question.labels.each do |label| %>
      <%= label.genre %>
    <% end %>
  </div>
  <div class="row">
    <div class="col"><%= @question.status_i18n %></div>
    <div class="h4 col-8"><%= @question.title %></div>
    <div class="col">
      <%= link_to @question.user.name,user_path(@question.user) %>
    </div>
  </div>
  <div class="row">
    <div class="col-9 offset-1">
      <%= @question.details %>
    </div>
  </div>
</div>
<br>
  <div class="h5">回答 <%= @question.answers.count %> 件</div>
  <div id="answers_area">
    <%= render partial: "answers/index",locals: {answers:@answers,question:@question} %>
  </div>

  <div class="mx-auto" style="width: 600px;">
    <%= render partial: "answers/form",locals: {answer:@answer,question:@question} %>
  </div>

  <% if @question.user == current_user %>
    <div>
      <%= link_to "質問編集",edit_question_path(@question) %>
    </div>
  <% end %>