<h1>質問詳細</h1>
<div>
  <%= link_to @question.user.name,user_path(@question.user) %>
</div>
<div>
  <%= @question.title %>
</div>
<div>
  <%= @question.details %>
</div>
<div>
  <%= @question.status_i18n %>
</div>
<div>回答一覧</div>
<div id="answers_area">
  <%= render partial: "answers/index",locals: {answers:@answers,question:@question} %>
</div>

<div>
  <%= render partial: "answers/form",locals: {answer:@answer,question:@question} %>
</div>
<div>
  <% @question.labels.each do |label| %>
    <%= label.genre %>
  <% end %>
</div>
<% if @question.user == current_user %>
  <div>
    <%= link_to "質問編集",edit_question_path(@question) %>
  </div>
<% end %>