<h3>ログイン</h3>
<div class="container d-flex justify-content-center">
  <%= form_with(scope: :session,url:sessions_path,local:true) do |f| %>
    <div class="form-group">
     <span><%= f.label :email, t("view.email") %></span>
      <span><%= f.email_field :email ,class:"form-control",style:"width:300px"%></span>
    </div>

    <div class="form-group">
      <span><%= f.label :password, t("view.password") %></span>
      <span><%= f.password_field :password ,class:"form-control",style:"width:300px" %></span>
    </div>

    <div class="d-flex justify-content-center">
      <%= f.submit t("view.login"),class: "btn btn-primary" %>
    </div>
  <% end %>
</div>