<%= form_with(model:[question,answer]) do |f| %>
  <% if answer.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(answer.errors.count,"error") %>prohibited this answer from being saved:</h2>
      <ul>
        <% answer.errors.full_messages.each do |message| %>
        <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div id="result"></div>

  <div>
    <%= f.text_area :content,placeholder:"回答を入力",class: "answer-field" %>
  </div>

  <div class="d-flex justify-content-center">
    <%= f.submit t("view.post") ,class:"btn btn-primary" %>
  </div>
<% end %>