<%= form_with(model:[question,answer]) do |f| %>
  <% if answer.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(answer.errors.count,"error") %>prohibited this answer from being saved:</h2>
      <ul>
        <% answer.errors.full_messages.each do |message| %>
        <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= f.text_area :content,size:"70x10",placeholder:"回答を入力" %>
  </div>

  <div>
    <%= f.submit %>
  </div>
<% end %>