<!DOCTYPE html>
<html>
  <head>
    <title>MoviesQA</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <% flash.each do |key, value| %>
      <%= content_tag(:div, value, class: "#{key}") %>
    <% end %>

    <% if logged_in? %>
      <%= link_to current_user.name,user_path(current_user.id) %>
      <%= link_to "質問一覧",questions_path %>
      <%= link_to "質問投稿",new_question_path %>
      <%= link_to "ユーザー 一覧",users_path%>
      <%= link_to "ログアウト",session_path(current_user.id),method: :delete %>
    <% else %>
      <%= link_to "質問一覧",questions_path %>
      <%= link_to "ログイン",new_session_path %>
      <%= link_to "ユーザー登録",new_user_path%>
    <% end %>
    <%= yield %>
  </body>
</html>
